/* style.css */
* {
    box-sizing: border-box;
}

.container {
    max-width: 500px;
    margin: 60px auto;
}

.container h1 {
    text-align: center;
    color: white;
}

form {
    border-radius: 30px;
    background-color: lightgray;
    padding: 30px;
}

form .input-group {
    text-align: center;
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 10px;
}

form input {
    padding: 12px 20px;
    width: 100%;
    border: 1px solid #ccc;
}

.submit-btn {
    width: 100%;
    border: none;
    background: #223C1A;
    font-size: 18px;
    color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.5;
    font-size: 1.25em;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background-color: #1e2430;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.fileInput {
    width: 100%;
    color: transparent;

}

input::file-selector-button {
    font-weight: bold;
    padding: 0.5em;
    border:  solid grey;
    border-radius: 10px;
}